body{
    background-color: black;
    background-image: url("BackgroundImage.png");
    background-size:cover;
}
p{
    color: white;
    font-family: fantasy;
    font-size: 35px;
}
.gallery{
    width:30%;
    display: flex;
    height: 380px;
    gap: 5px;
    margin-top: 5%;
}
.gallery img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid white;
    transition: all ease 0.4s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}
.gallery img:hover{
    width: 100%;
    
    
}
